.article-container{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  //width: 58.33333%;
  float: left;
  min-height: 1px;
  //padding-left: 1rem;
  //padding-right: 1rem;
  //margin-top: 60px;
  //margin-left: 16.66%;
 
}
.article-wrapper{
  //display: flex;
  //flex-direction: column;
  background-color: #fff;
  margin-top: 15px;
  cursor: pointer;
  position: relative;
 
}

.article-title{
  margin-top: 5px ;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #212121;
  position: relative;
  vertical-align: middle;
 
}
.article-excerpt{
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  color: #888;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
 
.article-meta{
  font-size: 13px;
  padding: 0 0 15px 0;
  color: #9E9E9E;
 
}
.article-meta .wrap-votes{
  margin-right: 5px;
  color: #009a61;
  font-weight: bold;
 
}
.article-meta .votes{
  padding-right: 20px;
  color: #009a61;
  font-weight: bold;
 
}
.article-meta .votes:before {
  content: 'x ';
  font-size: 12px;
}
.article-meta .wrap-comments{
  margin-right: 5px;
  //color: #009a61;
 
}
.article-meta .comments{
  padding-right: 20px;
  //color: #009a61;
}
.article-meta .author{
  padding-right: 20px;
  color: #9E9E9E;
 
}
.article-img-play {
  width: 80px;
  height: 60px;
  border-radius: 4px;
  float: right;
  margin-left: 30px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}
.article-img {
  width: 80px;
  height: 60px;
  border-radius: 4px;
  float: right;
  margin-left: 30px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}


