
.menu-header{
  padding: 0;
  height: 56px;
  display: flex;
  position: absolute;
  z-index: 9;
  width: 100%;
  align-items: center;
  background-color: transparent

}
.menu-nav{
  position: relative;
  zoom: 1;
  display: inline;
  float: left;
  line-height: 26px;
  height: 56px;
  box-shadow: 0 2px 10px rgba(0,0,0,.05);
  background-color:transparent;
  color: #fff;
  /*min-width: 760px;*/
  /*overflow: hidden;*/

}
.menu-site{
  color: #757575;
}
.menu-logo{
  float: left;
  height: 56px;
  width: 100px;
  padding: 0;
}
.menu-logo img {
  height: 100%;
}
.menu-container{
  width: 960px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-nav-ul{
  float: left;
  padding-right: 30px;

}
.menu-item{
  position: relative;
  cursor: pointer;
  float: left;
  /*color: #eee;*/
  line-height: 60px;
  padding: 0 25px;
  list-style-type:none;
  font-weight: 500;
  font-size: 16px;
}
// .menu-item:hover{
//   height: 60px;
//   display: block;
//   color: #009a61;
// }
.menu-item.active{
  color: #009a61;
}
.menu-item-sel{
  position: relative;
  cursor: pointer;
  float: left;
  font-size: 16px;
  line-height: 60px;
  padding: 0 25px;
  /*list-style-type:none;*/
  /*color: #fff;
background-color: #242630;*/
  height: 60px;
  color: #666633;
  border-bottom: 2px solid #886600;
  display: block;
}