.seniorinfo-container{
  display: flex;
  flex-direction: column;
  /*height: 94vh;*/
  min-height: 830px;
  background-color: #040d21;
  position: relative;
 
}

.seniorinfo-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #fff;
  
}
.seniorinfo-nav .container {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.seniorinfo-nav .container a {
  display: block;
  padding: .25rem 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
  color: #6a737d;
}

.seniorinfo-part1 {
  display: flex;
  flex-direction: column;
  max-width: 1464px;
  padding: 6.5rem 0 0 0;
  background-color: #040d21;
  //margin-right: auto;
  //margin-left: auto;
  position: relative;
}

.seniorinfo-part1-wraper {
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
  margin-left: 8.33%;
  width: 83.33%;
}
.seniorinfo-part1-wraper .title{
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
  // background: -webkit-linear-gradient(-70deg,#a2facf,#64acff);
  color: #fff;
  max-width: 40.5rem;
}

.seniorinfo-part1-wraper .gitlog-ul{
  padding-bottom: 2rem!important;
  position: relative;
}
.seniorinfo-part1-wraper .gitlog-li{
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
  padding-bottom: 1.5rem!important;
  width: 50%; 
  margin-top: -1rem;
}
.seniorinfo-part1-wraper .gitlog-li-c{
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
  width: 50%; 
  padding-top: .5rem!important;
  padding-bottom: .5rem!important;
}

.seniorinfo-part1-wraper .gitlog-ul:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.5rem;
  display: block;
  width: 2px;
  content: "";
  background: #42526d;
}
.seniorinfo-part1-wraper .gitlog-li svg, .seniorinfo-part1-wraper .gitlog-li-c svg {
  z-index: 1;
  position: relative
}
.seniorinfo-part1-wraper .gitlog-li circle {
  fill: #040d21;
  stroke: #42526d;
}
.seniorinfo-part1-wraper .gitlog-icon{
  float: left;
  background: #040d21;
  margin-left: calc(-3rem - 13px);
  margin-right: -2.5rem;
}

.seniorinfo-part1-wraper .gitlog-title{
  color: #8193b2;
  font-weight: 500;
  font-size: 1.5rem;
}
.seniorinfo-part1-wraper .gitlog-content{
  color: #8193b2;
  font-size: .875rem;
}
.seniorinfo-part1-wraper .gitlog-content strong{
  color: #fff;
  font-weight: 600;
}

.seniorinfo-part2 {
  display: flex;
  flex-direction: column;
  max-width: 1464px;
  //padding: 6.5rem 0 0 0;
  background-color: #fff;
  //margin-right: auto;
  //margin-left: auto;
  position: relative;
}

.seniorinfo-part2-wraper {
  display: flex;
  flex-direction: column;

  padding-right: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
  width: 83.33%;
  margin-left: 8.33%;
  position: relative;
}
.seniorinfo-part2-light {
  position: relative;
  padding-top: 2.5rem;

}
.seniorinfo-part2-light:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.5rem;
  display: block;
  width: 2px;
  content: "";
  background: #dadfe9;
}
.seniorinfo-part2-light .gitlog-title{
  margin-left: -2.1875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.seniorinfo-part2-light .gitlog-title svg{
  margin-right: 1rem;
  z-index: 1;
  position: relative
}
.seniorinfo-part2-light .home-branch {
  left: calc(8.33333% - 1.5rem);
  width: calc(8.33333% + .125rem);
  height: 8.875rem;
  color: #8193b2; 
  margin-left: -8.3333333333%;
  position: relative;
}
.seniorinfo-part2-light .home-branch > path {
  stroke: #dadfe9;
}
.seniorinfo-part2-light .gitlog-ul{
  margin-left: 8.3333333333%;
  //padding-right: 1.5rem;
  //padding-left: 1.5rem;
  width: 83.33%; 
  position: relative;
}

.seniorinfo-part2-light .gitlog-ul:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.5rem;
  display: block;
  width: 2px;
  content: "";
  background: #dadfe9;
}
.seniorinfo-part2-light .gitlog-li{
  display: flex;
  flex-direction: row;
  padding-bottom: 2.5rem;
  //max-width: 33.75rem;
  //margin-right: -1.5rem;
  //margin-left: -1.5rem;
}
.seniorinfo-part2-light .gitlog-li svg{
  margin-left: calc(-1.5rem - 13px);
  z-index: 1;
  width:28px;
}

.seniorinfo-part2-light .gitlog-start{
  display: flex;
  flex-direction: row;
  margin-left: calc(8.33333% - 1.5rem - 12px);
  padding-bottom: 2.5rem;
  position: relative;
  margin-top: -1rem;
}
.seniorinfo-part2-light .gitlog-start svg{
  margin-left: -1px;
  z-index: 1;
}
.seniorinfo-part2-light .gitlog-start:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .75rem;
    display: block;
    width: 2px;
    content: "";
    background: #dadfe9;
}

.seniorinfo-part2-light .gitlog-end{
  margin-left: -2.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2.5rem;
}
.seniorinfo-part2-light .gitlog-end svg{
  margin-right: 1rem;
  z-index: 1;
  position: relative
}
.seniorinfo-part2-other{
  width: 49%;
  display: flex;
  //flex-direction: row;
  margin-left: -1.5rem;
  position: relative
  
}
.seniorinfo-part2-other .turn1{
  height: 1rem; 
  border-radius: 0 0 0 1rem; 
  border-bottom: 2px solid #dadfe9; 
  border-left: 2px solid #dadfe9;
  flex: auto;
}
.seniorinfo-part2-other .turn2{
  width: 1rem; 
  height: 10rem; 
  margin-top: 0.875rem; 
  border-radius: 0 16px 0 0; 
  border-top: 2px solid #dadfe9; 
  border-right: 2px solid #dadfe9;
}


